<!DOCTYPE html>
<html>
<head>
	<title>Foriegn Exchange Currency Rates[Web Scraping Using BeautifulSoup]</title>
</head>
<body>
<center><h1 style="background:pink;padding:6px">WebScraping using BeautifulSoup</h1>
	<h3><i>The Currency conversion rate for Indian Rupee VS Other Currencies</i></h3><br><br>
	<a href="{% url 'index' %}" style="background:yellow;padding:6px;">https://www.iban.com/</a>
<a href="{% url 'indextwo' %}" style="background:lightgreen;padding:6px">https://www.x-rates.com</a>
<a href="{% url 'indexthree' %}" style="background:lightblue;padding: 6px">https://transferwise.com</a>
<br>
<h6>Click on the above links to view Scraped data</h6></center>
</body>
</html>